        <div class="row">
            <div class="col-xs-8">
                <h2>This First Heading
                    <span class="text-muted">Will Catch Your Eye</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-xs-4">
                <img class="img-circle img-responsive pull-right" src="assets/img/1.jpg">
            </div>
        </div>